@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background-image: url(images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-color: hsl(257, 40%, 49%);
  display: flex;
  flex-direction: column;
}
nav {
  height: 10vh;
  display: flex;
  align-items: center;
}
.logo {
  height: 35px;
  margin: 2rem 0 0 2rem;
}
/* Main Content */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.illustration {
  width: 400px;
  margin-top: 3rem;
}
.main-content-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Main Text */
.main-text {
  margin-top: 3.5rem;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-text-title {
  font-family: "Poppins", sans-serif;
}
.main-text-p {
  font-family: "Open Sans", sans-serif;
  max-width: 90%;
  line-height: 1.5;
  padding: 0 1rem;
  margin-top: 1rem;
}

/* Register Btn */
.register-btn {
  color: hsl(257, 40%, 49%);
  background-color: #fff;
  padding: 0.8rem 5rem;
  border-radius: 50px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  margin-top: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* Socials */
.socials {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.icon {
  border: 1px solid #fff;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.twitter-icon {
  margin: 0 0.5rem;
}

/* Active States */
.register-btn:hover {
  background-color: hsl(300, 69%, 71%);
  color: #fff;
  cursor: pointer;
}
.icon:hover {
  border-color: hsl(300, 69%, 71%);
  color: hsl(300, 69%, 71%);
  cursor: pointer;
}

/* Media Queries */
@media screen and (min-width: 1280px) {
  body {
    background-image: url(images/bg-desktop.svg);
  }
  .logo {
    height: 40px;
    margin-left: 4rem;
  }
  .main-content {
    flex-direction: row;
    height: 90vh;
  }
  .illustration {
    width: 800px;
    height: 500px;
    object-fit: contain;
    margin: 0 0 0 4rem;
  }
  .main-content-info {
    align-items: start;
    width: 50%;
    height: 400px;
    margin-left: 3rem;
  }
  .main-text {
    text-align: left;
    margin-top: 0;
    align-items: start;
  }
  .main-text-title {
    font-size: 2.3rem;
  }
  .main-text-p {
    padding: 0;
    width: 73%;
  }
  .register-btn {
    padding: 0.7rem 3rem;
  }
  .socials {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 5rem 3rem 0;
  }
}
